{% extends "base.html" %}

{% block content %}
<h2>Upload a file</h2>
<form id="uploadform" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="row">
        <label for="fileToUpload">Select a File to Upload</label><br />
        <input type="file" name="fileToUpload" class="inputFile" id="fileToUpload" onchange="fileSelected()" />
    </div>
    <div id="fileName"></div>
    <div id="fileSize"></div>
    <div id="fileType"></div>
    <div class="row">
        <input type="button" onclick="uploadFile()" value="Upload" />
    </div>
    <div id="progressNumber"></div>
</form>
{% endblock %}
